input {
  padding: 1.2rem 1rem;
  font-size: 2rem;
  min-width: 430px;
}
.no-suggestions {
  color: #999;
  padding: 0.5rem;
}
.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
  min-width: 430px;
  font-family: Quicksand, sans-serif;
  color: black;
  font-size: 2rem;
}
.suggestions li {
  padding: 0.5rem;
}
.suggestion-active,
.suggestions li:hover {
  background-color: #008f68;
  color: #fae042;
  cursor: pointer;
  font-weight: 700;
}
.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

.autocomplete-input {
  text-align: center;
}
.suggestions {
  width: 100%;
}
.autocomplete-container {
  display: flex;
  flex-direction: column;
  width: 768px;
}

.results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results-container img {
  width: 368px;
  border: 0.15rem solid var(--clr-grey-8);
}
